@model IEnumerable<string>

<html>
    <head>
        <style type="text.css"></style>
    </head>
    <body>
        <pre style="word-wrap: break-word; white-space: pre-wrap;">
            
        @foreach (var line in Model) {
            @line
        }
                               
</pre>
    </body>
</html>
