@model WBD_ASPNET_MVC5.Models.ProjectUsernameViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    Add User to You Project - @Html.DisplayFor(model => model.project.ProjectName)
</h1>

<h2>
    Enter the new Username
</h2>

@Html.HiddenFor(model => model.project.Id)

@using (Html.BeginForm("AddUser", "ProjectPage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{   
    <div class="form-group">
        @Html.LabelFor(model => model.Username, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Add User" />
        </div>
    </div>
}