@model WBD_ASPNET_MVC5.Models.ProjectUsersListViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add User", "AddUser", "ProjectPage", new {id = Model.project.Id}, null)
</p>
<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.users)
    {
        <tr>
            @Html.DisplayFor(modelItem => item.UserName)
        </tr>
    }

</table>

