@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <p class="lead">We are the Whitworth Biological Research Database team!</p>
    <p>Our goal is to create a web based database system for the Whitworth University biology department to use in data collection, storage, analysis and sharing.</p>
    <h2>Meet The Team</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Garret Capaccioli</h2>
        <img src="http://rack.1.mshcdn.com/media/ZgkyMDEzLzA2LzEzLzU0L2RuYS40NjE1MC5qcGcKcAl0aHVtYgkxMjAweDYyNyMKZQlqcGc/54ec3455/275/dna.jpg" alt="" width="104" height="142">
    </div>
    <div class="col-md-4">
        <h2>Forrest Ireland</h2>
        <img src="https://www.msu.edu/course/zol/341/Cognato/Chapter%2010%20HTML/Chapter_10_Learning_Objectives/Fundamental_Genetics_files/shapeimage_2.png" alt="" width="104" height="142">
    </div>
    <div class="col-md-4">
        <h2>Mark Klick</h2>
        <img src="http://jb.asm.org/content/193/22/6342/F2.large.jpg" alt="" width="104" height="142">
    </div>
    <div class="col-md-4">
        <h2>Jared Miles</h2>
        <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Plasmid_emNL.jpg/220px-Plasmid_emNL.jpg" alt="" width="104" height="142">
    </div>
</div>
