@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    300 W. Hawthorne Road<br />
    Spokane WA<br />
    <abbr title="Phone">P:</abbr>
    509.777.1000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@my.whitworth.edu</a><br />
</address>