@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Whitworth Biological Research Database</h1>
    <p class="lead">A file upload, download, and sharing system designed to efficiently organize research data as well as data analysis.</p>
    <p><a href="http://www.whitworth.edu" class="btn btn-primary btn-large">Whitworth University Home Page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with Research</h2>
        <p>
            There are countless online resources which can help with research!
        </p>
        <p><a class="btn btn-default" href="http://www.ncbi.nlm.nih.gov/">NCBI &raquo;</a></p>
        <p><a class="btn btn-default" href="http://www.uniprot.org/">Uniprot &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source Software</h2>
        <p>There's so much cool software online that you can get for free with an academic license.</p>
        <p><a class="btn btn-default" href="http://www.yasara.org/">Yasara &raquo;</a></p>
        <p><a class="btn btn-default" href="http://autodock.scripps.edu/">Autodock &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Online Servers</h2>
        <p>Utilize other institutions online servers to analyze your data.</p>
        <p><a class="btn btn-default" href="http://www.swissdock.ch/">Swiss Dock &raquo;</a></p>
    </div>
</div>